venv/
.venv/
media/
*/__pycache__/
db.sqlite3
*.pyc
*.o
.idea/
/assets/media/*
/logs/*
/media/
/search_index/*
*.sql
!indexes.sql
*.gz
assets/**/node_modules/*
.pytest_cache/
.benchmarks/
__pycache__/
htmlcov/
.coverage
.mypy_cache
celerybeat-schedule
._docker
tasks.txt
.env